.panel-button {
    padding-left: 4px;
    padding-right: 4px;
}

.latency-graph {
    width: 307px;
    min-width: 307px;
    min-height: 66px;
    spacing: 3px;
    padding: 4px 12px;
    color: inherit;
}

.latency-measurement {
    width: 28px;
    spacing: 2px;
}

.latency-bar {
    width: 28px;
    min-height: 4px;
    background-color: #3584e4;
    border: 1px solid currentColor;
    border-radius: 4px;
}

.latency-bar.latency-good {
    background-color: #3584e4;
}

.latency-bar.latency-warning {
    background-color: #f9d71c;
}

.latency-bar.latency-bad {
    background-color: #ff6b6b;
}

.latency-bar.latency-offline {
    background-color: #888888;
}

.latency-offline-marker {
    color: currentColor;
    font-size: 6px;
    font-weight: bold;
}

.latency-label {
    width: 28px;
    color: inherit;
    font-size: 9px;
    text-align: center;
}
